In [1]:
import socks
import socket
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
from urllib.request import urlopen
socks.set_default_proxy(socks.SOCKS5,"localhost", 9150)
socket.socket = socks.socksocket

In [3]:
def getaddrinfo(*args):
    return [(socket.AF_INET,socket.SOCK_STREAM,6,'',(args[0], args[1]))]
socket.getaddrinfo = getaddrinfo

In [4]:
res = requests.get("http://lqcjo7esbfog5t4r4gyy7jurpzf6cavpfmc4vkal4k2g4ie66ao5mryd.onion/") # US FAKE ID'S

In [5]:
soup = BeautifulSoup (res.content, 'html.parser')

In [6]:
results = soup.find_all('tr')

In [7]:
len(results)

17

In [8]:
results[1].td.text # NAME OFLOCATION

'Delaware'

In [9]:
results[1].find("td").find_next_sibling("td").get_text(strip=True).split('=')[0] # PRICE INTO USD

'200 USD '

In [10]:
results[1].find("td").find_next_sibling("td").get_text(strip=True).split('=')[1] # PRICE IN BITCOIN

' 0.00865 ฿'

In [11]:
Location_Name = []
Price_USD = []
Price_Bitcoin = []

for result in results:
    
    try:
        Location_Name.append(result.td.text)
  
    
    except:
         Location_Name.append('n/a')    
            
    try:
        Price_USD.append(result.find("td").find_next_sibling("td").get_text(strip=True).split('=')[0])
  
    
    except:
         Price_USD.append('n/a')

    
    try:
        Price_Bitcoin.append(result.find("td").find_next_sibling("td").get_text(strip=True).split('=')[1])
  
    
    except:
         Price_Bitcoin.append('n/a')

In [12]:
USFakeIDfromOnion = pd.DataFrame({'Location Name':Location_Name,'Price in USD':Price_USD,'Price in Bitcoin':Price_Bitcoin})

In [13]:
USFakeIDfromOnion

      Location Name Price in USD Price in Bitcoin
0               n/a          n/a              n/a
1          Delaware     200 USD         0.00865 ฿
2        \tIllinois     200 USD         0.00865 ฿
3    South Carolina     200 USD         0.00865 ฿
4        New Jersey     200 USD         0.00865 ฿
5          Colorado     200 USD         0.00865 ฿
6    \tPennsylvania     200 USD         0.00865 ฿
7           Montana     200 USD         0.00865 ฿
8           Indiana     200 USD         0.00865 ฿
9         Wisconsin     200 USD         0.00865 ฿
10           Alaska     200 USD         0.00865 ฿
11        Tennessee     200 USD         0.00865 ฿
12          Arizona     200 USD         0.00865 ฿
13         New York     200 USD         0.00865 ฿
14            Texas     200 USD         0.00865 ฿
15          Florida     200 USD         0.00865 ฿
16       California     200 USD         0.00865 ฿