# Import

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
website = 'https://www.imdb.com/chart/top/'

In [4]:
response = requests.get(website)

In [5]:
response.status_code

200

In [9]:
soup = BeautifulSoup(response.content,'html.parser')

##try print(soup)

In [67]:
results  = soup.find_all('td',class_="titleColumn")

In [73]:
results[0].a.text ## Name

'The Shawshank Redemption'

In [70]:
results[0].span.text.strip('()') ## Year

'1994'

In [74]:
results[0].get_text(strip=True).split('.')[0] ## Ranking

'1'

In [107]:
resultrates = soup.find_all('td',class_="ratingColumn imdbRating")

In [109]:
resultrate[0].strong.text  ## rating

'9.2'

In [110]:
Movie_Name = []
Yeear = []
Ranking = []

for result in results:
  
    Movie_Name.append(result.a.text)
    
    Yeear.append(result.span.text.strip('()'))
    
    Ranking.append(result.get_text(strip=True).split('.')[0])

In [114]:
Rate = []

for resultrate in resultrates:
    Rate.append(resultrate.strong.text)

In [118]:
Movie_Overview = pd.DataFrame({'Movie Title':Movie_Name,'Year':Yeear,'Ranking':Ranking,'Rating':Rate})

In [119]:
Movie_Overview

                  Movie Title  Year Ranking Rating
0    The Shawshank Redemption  1994       1    9.2
1               The Godfather  1972       2    9.2
2             The Dark Knight  2008       3    9.0
3       The Godfather Part II  1974       4    9.0
4                12 Angry Men  1957       5    9.0
..                        ...   ...     ...    ...
245               Dersu Uzala  1975     246    8.0
246                  The Help  2011     247    8.0
247                   Aladdin  1992     248    8.0
248                    Gandhi  1982     249    8.0
249        Dances with Wolves  1990     250    8.0

[250 rows x 4 columns]

In [120]:
Movie_Overview.to_excel('results_single_page.xlsx',index=False)